*{margin: 0;outline: 0;font-family: sans-serif;}

:root{
    --bg: #111;
    --co: #eee;

    --bg1: #1c1c1c;
    --bg1h: #252525;
    --co1: #ddd;

    --co2: #999;
    
    --coA: #111;
}

body{
    background: var(--bg);
    color: var(--co);
}

header h1{
    color: var(--co1);
    font-size: 26px;
}

header{
    padding: 12px;
}

header p{
    user-select: none;
    cursor: pointer;
    display: inline-block;
    color: var(--co2);
    background: var(--bg1);
    border-radius: 4px;
    padding: 12px;
    margin-right: 8px;
    margin-top: 8px;
    transition: .3s;
}
header p:hover{
    background: var(--bg1h);
}
header p.success{
    color: var(--coA);
    background: springgreen;
}
header p.failure{
    color: var(--coA);
    background: crimson;
}
header p.attempt{
    color: var(--coA);
    background: #ffec3e;
}

.informatics{
    display: flex;
    gap: 8px;
    padding: 12px;
}

@media screen and (max-width: 400px) {
    .informatics{
        flex-direction: column
    }
}

.info{
    background: var(--bg1);
    display: inline-block;
    border-radius: 12px;
    padding: 12px;
}

.info .desc{
    color: var(--co2);
    font-weight: 700;
    text-align: center;
}
.info .value{
    color: var(--co);
    display: block;
    padding: 12px;
}